# Use the latest 2.1 version of CircleCI pipeline processing engine, see https://circleci.com/docs/2.0/configuration-reference/
version: 2.1

# Use a package of configuration called an orb, see https://circleci.com/docs/2.0/orb-intro/
orbs:
  # Declare a dependency on the welcome-orb
  welcome: circleci/welcome-orb@0.3.1

jobs:
  build:
    working_directory: ~/project
    docker:
      - image: circleci/node:10.15.1
    steps:
      - checkout
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - restore_cache: # special step to restore the dependency cache
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-npm-wee
          command: npm install
      - save_cache: # special step to save the dependency cache
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: build
          command: npm run build
      - persist_to_workspace:
          root: ~/project
          paths: .
  deploy:
    docker:
      - image: circleci/node:10.15.1
    working_directory: ~/project
    steps:
      - attach_workspace:
          at: ~/project
      - checkout
      - run:
          name: deploy_ftp
          command: npm run ftp-deploy

# Orchestrate or schedule a set of jobs, see https://circleci.com/docs/2.0/workflows/
workflows:
  # Name the workflow "Welcome"
  Welcome:
    # Run the welcome/run job in its own container
    jobs:
      - welcome/run
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
    triggers:
      - schedule:
          cron: "0 0 * * 1"
          filters:
            branches:
              only: master
